<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/77b4cc17b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    
    <title>VUE  BOOLZAPP</title>
</head>
<body>
    <div id="listFriends">
        <div class="wrapper">
            <div class="sidebar">
                <header class="header-name-section">
                    <div class="image-flex">
                        <img src="img/avatar_1.jpg" class="contact-image" alt="">
                        <h4 id="nome-utente">{{ user.name }}</h4>
                    </div>
                    <div class="icons-header-section">
                        <i class="fa-solid fa-circle-notch" role="button"></i>
                        <i class="fa-solid fa-message center-icons" role="button"></i>
                        <i class="fa-solid fa-ellipsis-vertical" role="button"></i>
                    </div>
                </header>
                <section class="alert-message">
                    <i class="fa-solid fa-bell-slash icon-alert-message" role="button"></i>
                    <div class="text-alert-message">
                        <h3>ricevi le notifiche di nuovi messaggi</h3>
                        <a href="">ricevi le notifiche desktop</a>
                    </div>
                </section>
                <section class="search-friends">
                    <i class="fa-solid fa-magnifying-glass" id="iconSearch"></i>
                    <input type="text" id="search-input" name="nome" id="nome" placeholder="cerca o inizia una nuova chat"/>
                    <i class="fa-solid fa-magnifying-glass" id="iconSearch"></i>
                </section>
                <main class="friends">
                    <ul>
                        <li v-for ="(face,index) in contacts" class="friendlist" :class="currentIndex === index ? `active` : ` `"
                        @click="goToChat(index)">
                            <figure>
                                <img :src="`img/avatar${face.avatar}.jpg`" class="contact-image" alt="" />
                            </figure>
                            <h6> {{ face.name }}</h6>
                        </li>
                    </ul>
                </main>
            </div>
            <section class="main-section">
                    <header class="header-name-section">
                        <div class="image-flex">
                            <div class="img-header-section">
                                <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" class="contact-image" alt="">
                            </div>
                            <div class="name-userfriends">
                                <h4>{{ contacts[currentIndex].name }}</h4>
                                <span class="time-friends">ultimo accesso oggi alle 16.40</span>
                            </div>
                        </div>
                        <div class="icons-header-section">
                            <i class="fa-solid fa-magnifying-glass" role="button"></i>
                            <i class="fa-solid fa-paperclip center-icons" role="button"></i>
                            <i class="fa-solid fa-ellipsis-vertical" role="button"></i>
                        </div>
                    </header>
                    <section class="messageSection">
                        <div v-for="(message,index) in contacts[currentIndex].messages"
                             :class="currentIndex === index ? `active` : ` `" >
                            <div class="message-position">
                                <div class="message" :class="message.status">
                                    {{ message.text }}
                                    <div class="date-message">{{ message.date }}</div>
                                </div>
                             </div>
                        </div>
                    </section>
                    <footer>
                        <div class="side-icons"><i class="fa-solid fa-smile"></i></div>
                        <input size="90" type="text" name="nome" id="name" placeholder="scrivi un messaggio" v-model="newMessages.text"  @keyup.enter ="addMessages"  />
                        <div class="side-icons"><i class="fa-solid fa-microphone"></i></div> 
                    </footer>
            </section>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>