
/* sezioni generali */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: 400;
}
body{
    height:100vh;
    background-image: linear-gradient(to bottom, #008069 20%, transparent 0%, white 100%);
    font-family: 'Fredoka', sans-serif;
}

.wrapper{
    max-width:1200px;
    margin:30px auto;
    display:flex;
    flex-direction:row;
    height:90vh;
    border: 1px solid gray;
    background-image: url("img/mine.jpg");
    border:1px solid black;
   
}
/* sezione sidebar contatti a sinistra */

.sidebar{
    width:400px;
    height: 90vh;
    background-color: white;
    border-right:1px solid dodgerblue;
    border-bottom:1px solid dodgerblue;
    
}
#nome-utente{
    line-height: 100px;
    margin-left:5px;
}

.contact-image{
    height:100%;
    max-width:100%;
    border-radius: 50%;
}
.name-userfriends{
    align-self: center;
    margin-left:10px;
}
.alert-message{
    display:flex;
    flex-direction:row;
    height:90px;
    padding-top:10px;
    background-color: aqua;
    cursor:pointer;
}
.icon-alert-message{
    height:20px;
    width:20px;
    border:1px solid black;
    border-radius: 50%;
    margin:10px;
    font-weight: bolder;
}
.search-friends{
    height:80px;
    padding-top:10px;
    text-align:center;
    position:relative;
}
.search-friends{
    height:60px;
}
#iconSearch{
    font-size: 200%;
    position:absolute;
    top:50%;
    left:30px;
    transform: translateY(-50%);
    cursor:pointer;
}
#search-input{
    width:90%;
    height:50px;
    padding-left: 60px;
}
.friends{
    height:calc(90vh - 270px );
    overflow-y : auto;
}

/* sezione chat messaggi */
.main-section{
    height: 90vh;
    width:calc(100vw - 400px);
}
.header-name-section{
    height: 100px;
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid black;
}
.header-image{
    border-radius:50%;
    margin-top:5px;
    margin-left:5px;
}
.time-friends{
    color:gray;
}
.icons-header-section{
    line-height: 100px;
    margin-right:35px;
    cursor:pointer;
}
.center-icons{
    margin:10px;
}
.messageSection{
    height:calc(90vh - 200px);
    overflow-y: auto;
    
}
footer{
    height:100px;
    width:100%;
    background-color: white;
    border-bottom: 1px solid black;
    display:flex;
    padding:10px 10px;
}
.message{
    border:1px solid transparent;
    border-radius: 5%;
    padding:5px;
    height:80px;
    min-width:250px;
    margin:10px;
   position:relative;
   background-color: white;

}
.text-message{
    font-size: 15px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  text-align:left;
  width:80%;
}
.date-message{
    margin-left:80px;
    margin-top:10px;
    font-size: 10px;
    color:gray;
}
.message-position{
    display: flex;
    flex-direction: column;
}

.sent{
   background-color: green;
   align-self: flex-end; 
}
.received{
    width:250px;
    max-width:60%;
}
.friendlist{
    font-size:25px;
    list-style-type: none;
    font-weight: bolder;
    margin-top:20px;
    height:100px;
    display:flex;
}
.side-icons{
    font-size:300%;
    padding:5px;
}
.input-section{
   width:100%;
   text-align:center;
   margin:10px 10px;
}
.search-section{
    height:60%;
    width:80%;
    text-align:center;
}
/* utilities */
img.active{
    display:block;
}
.image-flex{
    display:flex;
}