*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background-image: linear-gradient(to bottom, #008069 20%, transparent 0%, white 100%);
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

.wrapper{
    max-width:1200px;
    margin:30px auto;
    display:flex;
    flex-direction:row;
    height:90vh;
    border: 1px solid gray;
    background-image: url("img/mine.jpg");
    border:1px solid black;
   
}

.sidebar{
    width:400px;
    height: 90vh;
    background-color: white;
    border-right:1px solid dodgerblue;
    border-bottom:1px solid dodgerblue;
    
}
#nome-utente{
    line-height: 100px;
    margin-left:5px;
}
.main-section{
    height: 90vh;
    width:calc(90vw - 400px);
}

.header-name-section{
    height: 100px;
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid black;
}
.img-header-section{
    display:flex;
    
}
.header-image{
    border-radius:50%;
    margin-top:5px;
    margin-left:5px;
}
.contact-image{
    height:100%;
    max-width:100%;
    border-radius: 50%;
}
.image-flex{
    display:flex;
}
.name-userfriends{
    align-self: center;
    margin-left:10px;
}
.time-friends{
    color:gray;
}
.icons-header-section{
    line-height: 100px;
    margin-right:35px;
    cursor:pointer;
}
.center-icons{
    margin:10px;
}
.messageSection{
    height:calc(90vh - 200px);
    overflow-y: auto;
    display:flex;
    flex-direction: column;
}
footer{
    height:100px;
    background-color: white;
    border-bottom: 1px solid black;
    display:flex;
    padding:10px 10px;
}
.alert-message{
    display:flex;
    flex-direction:row;
    height:70px;
    padding-top:10px;
    background-color: aqua;
    cursor:pointer;
}
.icon-alert-message{
    height:20px;
    width:20px;
    border:1px solid black;
    border-radius: 50%;
    margin:10px;
    font-weight: bolder;
}
.search-friends{
    height:80px;
    padding-top:10px;
    text-align:center;
}
.friends{
    height:calc(90vh - 250px );
    overflow-y : auto;
}
.message{
    border:1px solid black;
    border-radius: 20%;
    padding:10px;
    width:200px;
    height:80px;
    margin:10px;
    text-align: center;
}
.message.send{
    background-color: green;
    align-self: flex-end;
}
.message.receive{
    background-color: white;
    align-self: flex-start;
}
.friendlist{
    font-size:25px;
    list-style-type: none;
    font-weight: bolder;
    margin-top:20px;
    height:100px;
    display:flex;
}
.side-icons{
    font-size:300%;
    padding:5px;
}
.input-section{
   width:200%;
   text-align:center;
   margin:10px 0;
}
.search-section{
    height:60%;
    width:80%;
    text-align:center;
}
/* utilities */
.w-5{
    width:5%;
}
.w-90{
    width:90%;
}




img .active{
    display:block;
}