*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, rgb(22, 121, 121) 20%, transparent 0%, white 100%);
}

.wrapper{
    max-width:1200px;
    margin:30px auto;
    display:flex;
    flex-direction:row;
    height:100vh;
   
}

.sidebar{
    width:400px;
    height: 100vh;
    background-color:yellow;
}
.main-section{
    height: 100vh;
    width:calc(100vw - 400px);
    background-color:red;
}

.header-name-section{
    height: 100px;
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid black;
}
.img-header-section{
    display:flex;
    
}
.header-image{
    border-radius:50%;
    margin-top:5px;
    margin-left:5px;
}
.nome-conversazione{
    line-height: 100px;
    margin-left:5px;
}